* {
  border: 0;
  padding: 0;
  margin: 0;
}

:root {
  --principal: #F0B920;
  --secundario: #F2A922;
  --terciario: #ffdc68;
  --blanco: #F2F2F2;
  --gris: #8C8C8C;
  --grisOscuro: #404040;
  --negro: #0D0D0D;
}

/* main{
  padding: 1.5rem;
} */

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--negro);
}

.contenedorEnlaces{
  display: flex;
  flex-direction: column;
}

.imgRedes{
  width: 2rem;
}

.columnaImg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.figureColumna{
  width: 100%;
}

.figureColumna .imgCostado{
  max-width: 100%;
  border-radius: 0.25rem;
}

a{
  text-decoration: none;
}

.botonAcceder{
  color: var(--negro);
  background-color: var(--principal);
  border-color: var(--negro);
}

.botonAcceder:hover{
  color: var(--negro);
  background-color: var(--blanco);
}
